/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #eeeeee;
  --basic-red: #fb565a;
  --basic-green: #00ca74;
  --basic-yellow: #efc84a;
  --basic-extra-gray: #666666;
  --basic-extra-black: #444444;
  --basic-extra-white: #DBDBDB;

  --special-red--hover: #e74246;
  --special-red--active: #d7373b;
  --special-green--hover: #00bc6c;
  --special-green--active: #00aa62;
  --special-yellow--hover: #eab534;
  --special-yellow--active: #e5a722;
  --special-gray--hover: #dfdfdf;
  --special-gray--active: #d5d5d5;

}


/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.catalog {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  width: 1160px;
}

.catalog .poster {
  grid-column: 1 / -1;
}

.catalog .pagination {
  grid-column: 1 / -1;
  margin-bottom: 60px;
}

/*Main navigation*/

.main-header {
  margin: 0;
  background-color: var(--basic-gray);
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 9px;
}

.site-navigation {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-start;

}

.site-navigation li {
  margin: 0 20px;
}

.site-navigation a {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-gray);
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

.user-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-gray);

}

/* Logo */

.main-header-logo {
  display: flex;
  width: 160px;
  height: 65px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

/*Container*/

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1160px;
}

.main-header .container {
  display: flex;
}

/*Site-navigation*/


.main-header-logo:active {
  color: var(--basic-black);
  opacity: 0.3;
}


.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--special-red--hover);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.Poster {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

/* main */

/* Slider */


.slider {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  background-color: var(--basic-gray);
  outline: 5px solid rgba(255, 0, 0, 0.3);
}


.about-us h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.about-us p {
  font-size: 16px;
  line-height: 24px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
}

/* Service-list */

.service {
  margin-bottom: 80px;
}

.service-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.service figure {
  margin: 0;
}

.service h2 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service p {
  font-size: 16px;
  line-height: 24px;
}

/* Company */

.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.advantages-list {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
}

.advantages h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.advantages p {
  font-size: 16px;
  line-height: 24px;
}

.advantages h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}



/* Feature */

.feature {
  text-align: center;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.feature strong {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.interest {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  text-transform: uppercase;
}

.property {
  font-size: 16px;
  line-height: 18px;
  align-items: center;
}


/* Button */

.button {
  font: inherit;
  align-items: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.button:hover {
  background-color: var(--special-red--hover);
}

.button:active {
  background-color: var(--special-red--active);
}

.button-show {
  display: block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.button-show:hover {
  background-color: var(--special-gray--hover);
}

.button-show:active {
  background-color: var(--special-gray--active);
}

.button-sort {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.button-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.button-sedona {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.button-sedona:hover {
  color: var(--basic-red);
}

.button-sedona:active {
  color: var(--basic-black);
  opacity: 0.3;
  mix-blend-mode: normal;
}

.button-pagination {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.button-pagination:hover {
  background-color: var(--special-gray--hover);
}

.button-pagination:active {
  background-color: var(--special-gray--active);
}


/* Main footer */

.main-footer {
  margin-top: 80px;
  width: 100%;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.map {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}


.footer-contact {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.footer-contact h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contact p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-gray);
}

.marker-1 {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.footer-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.footer-friends h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-friends a {
  font-size: 16px;
  line-height: 22px;
}

/* Catalog main */

.no-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.poster {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  margin: 0;
  height: 355px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.filters-cost {
  margin-bottom: 234px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}

.filters-adaptive {
  margin-bottom: 161px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}

.filters-features {
  margin-bottom: 245px;
font-weight: bold;
font-size: 18px;
line-height: 30px;
align-items: center;
text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;

}

.sedona-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: var(--basic-extra-gray);
}

.shop {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.pagination-item a:hover {
  background-color: var(--special-gray--hover);
}

.pagination-item a:active {
  background-color: var(--special-gray--active);
}

.pagination-item-current {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}
