/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #eeeeee;
  --basic-red: #fb565a;
  --basic-green: #00ca74;
  --basic-yellow: #efc84a;
  --basic-extra-gray: #666666;
  --basic-extra-black: #444444;
  --basic-extra-white: #DBDBDB;

  --special-red--hover: #e74246;
  --special-red--active: #d7373b;
  --special-green--hover: #00bc6c;
  --special-green--active: #00aa62;
  --special-yellow--hover: #eab534;
  --special-yellow--active: #e5a722;
  --special-gray--hover: #dfdfdf;
  --special-gray--active: #d5d5d5;

}


/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Main navigation*/

.main-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-gray);
  background-color: #eeeeee;
}


.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

/* User navigation */

.main-header-logo:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--special-red--hover);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.Poster {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

/* main */

/* Slider */

.slider {
  list-style: none;
  align-items: center;
}

.slider h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider p {
  font-size: 16px;
  line-height: 24px;
}

/* Button */

.button {
  font: inherit;
  align-items: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.button:hover {
  background-color: var(--special-red--hover);
}

.button:active {
  background-color: var(--special-red--active);
}

.button-show {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.button-show:hover {
  background-color: var(--special-gray--hover);
}

.button-show:active {
  background-color: var(--special-gray--active);
}

.button-sort {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.button-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.button-sedona {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.button-sedona:hover {
  color: var(--basic-red);
}

.button-sedona:active {
  color: var(--basic-black);
  opacity: 0.3;
  mix-blend-mode: normal;
}

.button-pagination {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.button-pagination:hover {
  background-color: var(--special-gray--hover);
}

.button-pagination:active{
  background-color: var(--special-gray--active);
}

/* Service-list */
.service {
  list-style: none;
  align-items: center;
}

.service h2 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.service p {
  font-size: 16px;
  line-height: 24px;
}

/* Advantages */

.advantages {
  list-style: none;
  align-items: center;
}

.advantages h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  align-items: center;
}

.advantages p {
  font-size: 16px;
  line-height: 24px;
}

.advantages h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages-list {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
}

/* Feature */

.feature {
  list-style: none;
  text-align: center;
}

.feature strong {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.interest {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  text-transform: uppercase;
}

.property {
  font-size: 16px;
  line-height: 18px;
  align-items: center;
}

/* Catalog main */

.no-list {
  list-style: none;
}

.poster {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  align-items: center;
  color: var(--basic-black);
}

.filters-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.sort {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}

.sort-list {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;

}

.sedona-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: var(--basic-extra-gray);
}

/* Pagination */

.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.pagination-item a:hover {
  background-color: var(--special-gray--hover);
}

.pagination-item a:active {
  background-color: var(--special-gray--active);
}

.pagination-item-current {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}

/* Main footer */

.footer-contact {
  list-style: none;
  align-items: center;
}

.footer-contact h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contact p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-gray);
}

.footer-friends {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
